@inject IAlertService alertService
@implements IDisposable
<div class="alert-container">
    @foreach (var alert in alertService.Alerts)
    {
        <Alert Message=@alert.Message Type=@alert.Type></Alert>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        alertService.RequestRefresh += Refresh;
    }

    private async Task Refresh()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        alertService.RequestRefresh -= Refresh;
    }
}