@page "/"
@inject IStringLocalizer<Localization> loc
@inject IToDoRepository toDoRepository
<h1>@loc["Hello"]</h1>
Welcome to your new app.
<CreateToDo></CreateToDo>
<ListComponent T="ToDoRestModel" Elements="@toDos">
    <ChildContent Context="toDo">
        <ToDo Model="toDo"></ToDo>
    </ChildContent>
</ListComponent>

@code{
    private IEnumerable<ToDoRestModel> toDos = new List<ToDoRestModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            toDos = await toDoRepository.GetToDos();
        }
        catch (Exception)
        {


        }
    }
}