@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<Localization> loc

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link text-warning" href="authentication/profile">@loc["Hello"], @context.User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" @onclick="BeginSignOut">@loc["Log out"]</a>
        </li>
    </Authorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
