<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand text-warning" href="">PM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Contact Us
            </NavLink>
        </li>
        <AuthorizeView Roles="@UserRole.Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="contactus">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> Reply to contacts
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
