<div class="container" style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
    <div class="row">

        <img class="col-12" src="/images/NotFoundImage.jpg" alt="Page Not Found" />
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <BrowserHistoryBackButton />
        </div>
    </div>
</div>
