@typeparam T
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle mr-4"
            data-toggle="dropdown"
            type="button"
            @onclick="e => this.show = !this.show"
            aria-haspopup="true"
            aria-expanded="false">
        @tip
    </button>
    <CascadingValue name="DropDown"
                    Value="@this">
        <div class="dropdown-menu @(show ? "show" : "")" style="min-width:@ExtraContentWidth">
            @foreach (var item in Items)
            {
                @ItemTemplate(item)
            }
        </div>
    </CascadingValue>
</div>