<div class="container-fluid p-1">
    <div class="float-right pr-1" @onclick="@OnClick"><i class="fas fa-window-close"></i></div>
</div>


@code {
    [Parameter]
    public EventCallback OnClick { get; set; }
}
